{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>We are a company consisting 3 Fontys ICT Infrastructure students 
        that provides custom client products that fits there needs with fast and reliable service </p>
    <h2>RIG Network Engineers</h2>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <img src="/static/profile1.png" alt="profile pic" style="width: 160px; height: 160px;">
                <h6>PCN:435952</h6>
                <h6>Robert Asvicas</h6>
                <h6>435952@student.fontys.nl</h6>
            </div>
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <img src="/static/profile2.png" alt="profile pic" style="width: 160px; height: 160px;">
                <h6>PCN:379229</h6>
                <h6>Ibrahim Taie Ahmed Soliman</h6>
                <h6>379229@student.fontys.nl</h6>
            </div>
        </div>
        <div class="media-body">
            <div class="article-metadata">
                <img src="/static/profile3.png" alt="profile pic" style="width: 160px; height: 160px;">
                <h6>PCN:403278</h6>
                <h6>Gabriel Ismael Rafael</h6>
                <h6>403278@student.fontys.nl</h6>
            </div>
        </div>
    </article>
{% endblock content %}